@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

.scroll-smooth::-webkit-scrollbar {
  display: none;
}
